<%= form_with(model: human, local: true) do |form| %>
  <% if human.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(human.errors.count, "error") %> prohibited this human from being saved:</h2>

      <ul>
      <% human.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :human_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :human_age %>
  </div>

  <div class="field">
    <%= form.label :birth %>
    <%= form.date_select :birth, id: :human_birth %>
  </div>

  <div class="field">
    <%= form.label :alive %>
    <%= form.check_box :alive, id: :human_alive %>
  </div>

  <div class="field">
    <%= form.label :profile %>
    <%= form.text_area :profile, id: :human_profile %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
