<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @human.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @human.age %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @human.birth %>
</p>

<p>
  <strong>Alive:</strong>
  <%= @human.alive %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @human.profile %>
</p>

<%= link_to 'Edit', edit_human_path(@human) %> |
<%= link_to 'Back', humen_path %>
